# Extensions to add to a certificate
basicConstraints       = CA:FALSE
authorityKeyIdentifier = keyid:always, issuer:always
extendedKeyUsage       = clientAuth
subjectAltName         = @alt_names
[ alt_names ]
URI.1 = urn:efti:fi:-20